.App {
  text-align: center;
  min-width: 350px;
  overflow: auto;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* General --- START */
@media screen and (max-width: 650px) { 
  .grid-container {
    display: block;
  }
}

@media screen and (min-width: 651px) { 
  .grid-container {
    display: grid;
  }
  .separation-vertical-line{
    display: none;
  }
}

@media screen and (min-width: 800px) { 
  .created-questions {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.grid-container {
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.hidden{
  display: none;
}

.no-questions{
  padding: 10px;
  background-color: rgb(245, 180, 180);
  border: solid 1px rgb(253, 109, 109);
  border-radius: 5px;
  color: rgb(126, 9, 9);
}

.warning{
  font-size: 80%;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 247, 189);
  border: solid 1px rgb(243, 243, 117);
  border-radius: 5px;
  padding: 5px 10px;
}
/* General --- END */

/* Buttons --- START */
.question-block{
  border-bottom: solid 1px rgb(206, 206, 206);
}

.question{
  font-weight: 600;
  cursor: pointer;
}
/* Question --- END */

/* Awnser --- END */
.awnser{
  font-size: 90%;
}

.new-question-form input[type="text"]{
  padding: 3px;
  border-radius: 5px;
  width: 80%;
}

.new-question-form textarea{
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  height: 8em;
  resize: none;
}
/* Awnser --- END */

/* Buttons --- START */
.btn{
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn.btn-submit{
  border: solid 1px rgba(59, 155, 104, 0.904);
  color: rgba(59, 155, 104, 0.904);
}

.btn.btn-submit:hover{
  background-color: rgba(141, 206, 171, 0.904);
  color: white;
}

.btn.btn-remove{
  border: solid 1px rgba(155, 59, 59, 0.904);
  color: rgba(155, 59, 59, 0.904);
}

.btn-remove:hover{
  background-color: rgba(250, 125, 125, 0.904);
  color: white;
}

.btn.btn-sort{
  border: solid 1px rgba(59, 61, 155, 0.904);
  color: rgba(59, 73, 155, 0.904);
  margin-left: 10px;
}

.btn-sort:hover{
  background-color: rgb(144, 143, 241);
  color: white;
}
/* Buttons --- END */

/* Tooltips --- START */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(194, 239, 245);
  border: solid 1px rgb(110, 238, 255);
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  top: -5px;
  left: 100%; 
  position: absolute;
  z-index: 1;
  font-size: 11px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Tooltips --- END */